
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        
   <style>
       .footer{
            padding: 60px;
            text-align: center;
            background:#181818;
            color: white;
            font-size: 20px;
}
   </style>

</head>
<body>



<!-- Footer -->
<footer class="footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Sponcers</h5>
        <p>Visit our other pages !!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.uc.pt/">University Of Coimbra</a>
          </li>
          <li>
            <a href="https://www.uc.pt/fctuc/">FCTUC</a>
          </li>
          <li>
            <a href="https://www.uc.pt/fctuc/dei/">DEI</a>
          </li>
          <li>
            <a href="https://estagios.dei.uc.pt/">DEI-Master's</a>
          </li>
          <li>
            <a href="https://transitiondesignseminarcmu.net/">Transition Design</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#!">TDUC.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>