{{> header}}



<style>

    .about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.homer-img{
    width: 60%;
    height: 300px;
    border-radius: 25%;
    border: 3px solid red;
}

.testx{
    background-image: url('img/homersapien.jpg');
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}


</style>

<div class="testx">
<h1>Home</h1> 
</div>

<div class="about-section">

  <h2>Transition Design</h2>
  <p>Transition Design acknowledges that we are living in ‘transitional times,’ takes as its central premise the need for societal transition (systems-level change) to more sustainable futures, and argues that design and designers have a key role to play in these transitions. This kind of design is connected to long horizons of time and compelling visions of sustainable futures and must be based upon new knowledge and skill sets.</p>
  <br>
  <p>In the past, there have been many attempts to leverage design as an agent for positive social change, but few of these have articulated how to undertake, lead and catalyze such change. Nor have they identified or incorporated the areas of knowledge and investigation required to do so. Transition Design is complementary to, and borrows from, myriad other design approaches (such as design for service and social innovation), but is distinct in several ways and is therefore generating a corresponding body of new knowledge and skill sets that can deepen and enhance design within more traditional and mainstream contexts.</p>
  <br>
  <p>The idea of and need for transition is central to a variety of current discourses concerned with how change manifests and how it can be initiated and directed (in ecosystems, organizations, communities/societies, economies and even individuals). These approaches inspired the term ‘Transition Design’, a new area of design focus that is informed by knowledge outside design such as science, philosophy, psychology, social science, anthropology and the humanities in order to gain a deeper understanding of how to design for change/transition in complex systems.</p>
</div>

</div>

{{> footer}}

