{{> header}}


<style>
 .learn{
     text-align: center;
     background-color: #474e5d;
     padding-top: 50px;
 }


 .sust-img1{
    background-image: url('img/sustainability.jpg');
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

</style>


<div class="sust-img1">
<h1>Learn</h1> 
</div>

<div class="learn">
<div>
    <h2>TD Videos</h2>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/6q21jAvZyis">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/a1wrbQcrWQQ">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/-te2OsCFWlc">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/SQWdXvLt4NE">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/B-7y23DQurE">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/-cMHNKi8fto">
    </iframe>
</div>

<div>
    <h2>TD Canvas</h2>



</div>

{{> footer}}

</div>


