{{> header}}

<style>
 .sust-Log{
    background-image: url('img/idea.png');
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

    .corpo{
        background-color: #474e5d;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 400px;
        padding-right: 400px;
        }

    .register{
     border: 3px solid black; 
       
    }

</style>


<div class="sust-Log">
<h1>Register</h1>
</div>

<div>
<div class="corpo">
<div class="register">
<h2>Register</h2>
<form action="/register" method="POST">

<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button type="submit">Register</button>
</form>
<a href="/login">login</a>
</div>



</div>
{{> footer}}

</div>